flask
flask-apscheduler
logger
mypy
flake8
pytest-cov
clickhouse-sqlalchemy
numpy~=1.19.5
antlr4-python3-runtime==4.9.2
pyyaml~=5.4.1
pandas~=1.1.5
requests~=2.25.1
prettytable~=2.1.0
certifi~=2020.12.5
pyinstrument~=3.4.2
pymysql
pytest~=6.2.4
pyjwt[crypto]~=1.7.1
pytest-xdist
SQLAlchemy~=1.4.15
CacheToolsUtils~=5.0
redis~=3.5.3
configparser~=5.2.0
dataclasses
sasl
thrift
thrift-sasl
pyhive
sasl
thrift